.intro-text {
  position: absolute;
  top: 0px;
  /* left: 16px; */
  background-color: #21283B;
  font-size: 25px;
  padding: 10px 0 15px 0;
  text-align: center;
  color: white;
  border-radius: 0 0 20px 0;
}
.main-color-font{
  color:#21283B;
}
.sub-font-color{
  color: #909090;
  text-align: left;

}
.id{
  text-align: right;
}
.circle{
  height: 25px;
  width: 25px;
  background-color: #21283B;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #E8E9EB;
}
.select{
  border-radius: 10px;
  border : 2px solid #DCDDE0;
  font-size: 25px;
  padding-right: 20px;
}
.start-button{
  background-color:#21283B;
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 20px 0;
}
@media (max-width: 576px) {
  .intro-text{
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .select{
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .list{
    font-size: 16px;
  }
}